
        /* Additional CSS styles specific to this page */
        #main {
		    width:80%;
			margin: 0 auto;
            border: 1px solid black;
            padding: 20px;
            display: flex;
            justify-content: center;
        }

        .box {
	        text-align: center;
        }

        .code-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .code-container input {
			width:30px;
			text-align:center;
			height:30px;
            margin: 0 5px;
        }

